<div class="header">
    <div class="logo"><a href="/">LoGO</a></div>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/weather">Weather</a></li>
    </ul>
</div>