<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/index.css">
     <link rel="stylesheet" href="css/header.css">
      <link rel="stylesheet" href="css/footer.css">
     <link rel="stylesheet" href="css/about.css">
    <title>Document</title>
</head>
<body>
     {{>header}}
    <div class="container about">
        <div class="left"><img src="https://img.freepik.com/free-vector/businessman-entrepreneur-working-office-desk_3446-678.jpg?size=626&ext=jpg" alt=""></div>
        <div class="right">
              <h4>Welcome to hello world</h4>
              <h2>I'm a developer wondering around making up new things</h2>
              <button>GET IN TOUCH</button>
             </div>
    </div>
    {{>footer}}
</body>
</html>